    <div class="gallery-container">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../img/blank_image.png" alt="...">
                </a>
            </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

        <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="../img/blank_image.png" alt="...">
            </a>
        </div>

    </div>
